/array.py
/balok.py
/bangundatar.py
/bola.py
/for.py
/FORMmhs.py
/for_segitiga.py
/for_segitiga2.py
/for_segitiga3.py
/for_segitiga4.py
/for_segitiga5.py
/for_segitiga6.py
/for_segitiga7.py
/for_segitiga8.py
/function.py
/function1.py
/function2.py
/gaji.py
/game.py
/ganjil.py
/ifelse.py
/kalkulator copy.py
/kalkulator.py
/kalkulator1.py
/kasir.py
/kerucut.py
/kubus.py
/latihan uts
/limas.py
/nim.py
/nim2.py
/nim3.py
/prisma.py
/tabung.py
/tugas.py
/UAS_ALROG
/UTS
/while.py
/while_bintang.py
/wisata.py